---
import "../styles.css";
import Carousel from "../components-react/carousel";
import { IMAGESCAROUSEL, ICONS, LINKSTORE } from "../config/list";
import Button from "../components-astro/button.astro";
import IconLink from "../components-astro/iconLink.astro";
import TapLink from "../components-react/tapLink";
import Unete from "../components-astro/unete.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
   

    <header>
      <section
        class="flex-col bg-header-image bg-cover bg-no-repeat bg-center h-[60vh] relative items-center justify-center"
      >
        <div class="flex-col justify-center items-center">
          <Carousel client:only="react" images={IMAGESCAROUSEL} />
        </div>
        <div class="absolute bottom-[-18px] left-[50%] translate-x-[-50%]">
          <Button text="¡Inscríbete al siguiente evento!" id="inscripcion" />
        </div>
      </section>
    </header>
    <main class="">
      <section class="bg-fourth px-[12px] pb-[20px] pt-[50px] ">
        <div class="w-[100%] lg:w-[100%] xs:w-[90%] max-w-[500px] m-auto">
          <div
            class="flex max-w-[80%]   m-auto justify-between items-center mb-[28px]"
          >
            {ICONS.map((icon) => <IconLink src={icon.src} link={icon.link} />)}
          </div>
          <h2
            class="text-[16px] lg:text-[30px] lg:leading-8 font-UniversExtrablack text-primary text-center leading-4 xs:text-[20px] xs:leading-6 "
          >
            CONOCE LA UBICACIÓN DE NUESTRAS TIENDAS
          </h2>
      
          <div class="flex justify-center items-center pt-[20px]">
            <TapLink client:only="react" options={LINKSTORE} />
          </div>
        </div>
      </section>
    </main>

    <footer
      class="flex flex-col bg-footer bg-cover bg-no-repeat bg-center h-[60vh] "
    >
      <Carousel client:only="react" images={IMAGESCAROUSEL} />
      <div
        class="flex flex-col flex-1 justify-center items-center w-[100%] xs:w-[90%] max-w-[700px] px-[40px] m-auto gap-1 lg:gap-2"
      >
        <h2
          class="text-[14px] font-UniversExtrablack text-center text-secondary lg:text-[30px] lg:leading-[50px] leading-[18px] xs:text-[16px]"
        >
        ¿ERES UN APASIONADO<span class="text-[24px] xs:text-[28px] xs:leading-5 lg:text-[50px]"> POR CORRER?</span> 
        </h2>
        <div class="flex justify-center">
        
        </div>
        <Unete text="¡Únete a nuestra comunidad!"  />
      </div>
        
     

      <Carousel client:only="react" images={IMAGESCAROUSEL} />
    </footer>
    <section>
      <div></div>
    </section>
  </body>
</html>
