---
import "../styles.css";
import Carousel from "../components-react/carousel";
import { IMAGESCAROUSEL, ICONS, LINKSTORE } from "../config/list";
import Button from "../components-astro/button.astro";
import IconLink from "../components-astro/iconLink.astro";
import TapLink from "../components-react/tapLink";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <!-- ... Otros componentes y contenido ... -->

    <header>
      <section
        class="flex-col bg-header-image bg-cover bg-no-repeat bg-center h-[60vh] relative items-center justify-center"
      >
        <div class="flex-col justify-center items-center">
          <Carousel client:only="react" images={IMAGESCAROUSEL} />
        </div>
        <div class="absolute bottom-[-18px] left-[50%] translate-x-[-50%]">
          <Button text="¡Inscríbete al siguiente evento!" />
        </div>
      </section>
    </header>
    <main class="">
      <section class="bg-fourth px-[12px] pb-[20px] pt-[50px]">
        <div class="w-[100%] max-w-[450px] m-auto">
          <div
            class="flex max-w-[80%] m-auto justify-between items-center mb-[28px]"
          >
            {ICONS.map((icon) => <IconLink src={icon.src} link={icon.link} />)}
          </div>
          <h2
            class="text-[16px] font-UniversExtrablack text-primary text-center lg:text-[30px] leading-4"
          >
            CONOCE LA UBICACIÓN DE NUESTRAS TIENDAS
          </h2>
          <div class="flex justify-center items-center pt-[20px]">
            <TapLink client:only="react" options={LINKSTORE} />
          </div>
        </div>
      </section>
    </main>

    <footer
      class="flex flex-col bg-footer bg-cover bg-no-repeat bg-center h-[60vh]"
    >
      <Carousel client:only="react" images={IMAGESCAROUSEL} />
      <div
        class="flex flex-1 justify-center items-center w-[100%] max-w-[600px] px-[40px] m-auto bg-green-300 "
      >
        <h2
          class="text-[14px] font-UniversExtrablack text-center text-secondary lg:text-[40px] lg:leading-[40px]"
        >
        ¿ERES UN APASIONADO<span class="text-[24px]">POR CORRER?</span> 
        </h2>
      </div>

      <Carousel client:only="react" images={IMAGESCAROUSEL} />
    </footer>
    <section>
      <div></div>
    </section>
  </body>
</html>
